.footer-content {
  background-image: url('/media/images/footer-image.jpg');
  min-height: 500px;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
