// Font Family
@import url('https://fonts.googleapis.com/css?family=Bentham');
@font-face {
  font-family: 'gotham-book';
  src: url("../fonts/gotham-book-webfont.eot");
  src: url("../fonts/gotham-book-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham-book-webfont.woff") format("woff"), url("../fonts/gotham-book-webfont.ttf") format("truetype"), url("../fonts/gotham-book-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bulmer';
  src: url("../fonts/BulmerMTStd-Regular.eot");
  src: url("../fonts/BulmerMTStd-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/BulmerMTStd-Regular.woff") format("woff"), url("../fonts/BulmerMTStd-Regular.ttf") format("truetype"), url("../fonts/BulmerMTStd-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bulmer';
  src: url("../fonts/BulmerMTStd-Bold.eot");
  src: url("../fonts/BulmerMTStd-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/BulmerMTStd-Bold.woff") format("woff"), url("../fonts/BulmerMTStd-Bold.ttf") format("truetype"), url("../fonts/BulmerMTStd-Bold.svg") format("svg");
  font-weight: bold;
  font-style: normal;
}

@import './life-on-tour/reset';
@import '../css/animsition.css';
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';
@import '~aos/dist/aos.css';
@import '~animate.css/animate.css';
@import './themify-icons/themify-icons';
@import './life-on-tour/variables';
@import './life-on-tour/button';
@import './life-on-tour/navbar';
@import './life-on-tour/typography';

html {
  background-color: #000;
}

body,
html {
  font-size: 14px;
  padding-top: 0;
  min-height: 100%;
  width: 100%;
  min-width: 320px;
  font-family: "gotham-book",sans-serif;
  margin: 0;
}

.animsition {
  height: inherit;
}

*,
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

button {
  cursor: pointer;
}

.spacer {
  flex: 1;
}

.divider {
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  display: inherit;
  margin: 16px 0 28px;
}

.btn {
  background: transparent;
  border: 0;
  outline: none;
}

a.btn {
  display: block;
  height: 42px;
  width: 180px;
  color: white;
  background-color: #161616;
  transition: border-color 0.4s ease;
  line-height: 40px;
  text-align: center;
  border: 2px solid;
  border-color: #161616;
}

a.btn:hover {
  border-color: #FFFFFF;
}

.lot-intropage {
  min-height: 600px;
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-image: url("/media/images/lot_landingpage.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.opacity-mask {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  position: absolute;
  background-color: #000;
  opacity: 0.75;
}

.image-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  z-index: 10;

  p {
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.24px;
  }
}

#introImg {
  height: 280px;
  width: 280px;
  display: inline-block;
  display: none;
}

#timerText {
  display: none;
  display: inline-block;
}

.redirect-text {
  font-size: 18px;
  line-height: 1.5;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 600;
  position: absolute;
  z-index: 2;
  left: 16px;
  top: 10px;
  margin: 0;
}

.landingpage-img {
  position: absolute;
  width: 200px;
  height: auto;
}

@import './responsive/responsive-story-slider';
@import './responsive/responsive-landingpage-body';
@import './responsive/responsive-landingpage-footer';
