.episode-body-image {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1200px) {
  .episode-body-image {
    padding-left: 105px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
