.intro-content {
  min-height: 600px;
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-image: url("/media/images/lot_landingpage.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;

  > .text-paragraph {
    text-transform: uppercase;
    font-weight: 600;
    position: absolute;
    z-index: 2;
    left: 16px;
    top: 10px;
  }

  > .image {
    height: 280px;
    width: 280px;
    display: none;
    position: relative;
    z-index: 10;
  }
}
